.page.organization-dashboard
  %ul.activity
    %header.activity__header
      %h3 Recent Activity
    %li.action
      = link_to "#", class: "action__link" do
        %aside
          = image_tag "https://pbs.twimg.com/profile_images/658433422252228608/GDAEEwXn.jpg", class: "avatar"
        %section
          %p.action__text= "<strong>Ethan Turkeltaub</strong> did a thing".html_safe
          %p.action__timestamp 30 mins ago
  %ul.projects
    %header.activity__header
      %h3 Projects
    - @projects.each do |project|
      %li= link_to project.name, project_url(project)
